/*
Template Name: Heydarah Responsive HTML5/CSS3 Portfolio Template 
Version: 1.1
Author: Karim Ezzat
Author URI: http://themeforest.net/user/karimezzat
Description: Heydarah on-page Website Responsive HTML Template
Tags: One-Page,  Website, Business, Portfolio, Responsive, Html5, Css3, jQuery, Bootstrap
*/

/*
Style Index
==================================================
    1. Basic Style
    2. Preloader
    3. Header - Navigation Bar -
    4. Home Slider
    5. About Section
    6. Services Section
    7. Works Section
    8. Team Section
    9. Why Us/Features Section
    10. Facts Section
    11. Pricing Section 
    12. Blog Section
    13. Contact Section
    14. Footer
    15. Blog & Blog-Post Pages
*/

@font-face {
    font-family: Anurati;
    src: url("../fonts/Anurati-Regular.otf") format("opentype");
}

#logo{
    font-family: Anurati;
    margin-top: 9px;
    margin-left: 15px;
    height: 31px;
}

/**owl theme**/
.owl-theme .owl-controls {
    margin-top: 10px;
    text-align: center
}
.owl-theme .owl-controls .owl-buttons div {
    color: #FFF;
    display: inline-block;
    zoom: 1;
    *display: inline;
    margin: 5px;
    padding: 3px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #869791;
    filter: Alpha(Opacity=50);
    opacity: .5
}
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
    filter: Alpha(Opacity=100);
    opacity: 1;
    text-decoration: none
}
.owl-theme .owl-controls .owl-page {
    display: inline-block;
    zoom: 1;
    *display: inline
}
.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);
    opacity: .5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #869791
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    filter: Alpha(Opacity=100);
    opacity: 1
}
.owl-theme .owl-controls .owl-page span.owl-numbers {
    height: auto;
    width: auto;
    color: #FFF;
    padding: 2px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px
}
.owl-item.loading {
    min-height: 150px;
    background: url(AjaxLoader.gif) no-repeat center center
}
/*****/
/* 
 *  Owl Carousel CSS3 Transitions 
 *  v1.3.2
 */

.owl-origin {
    -webkit-perspective: 1200px;
    -webkit-perspective-origin-x : 50%;
    -webkit-perspective-origin-y : 50%;
    -moz-perspective : 1200px;
    -moz-perspective-origin-x : 50%;
    -moz-perspective-origin-y : 50%;
    perspective : 1200px;
}
/* fade */
.owl-fade-out {
    z-index: 10;
    -webkit-animation: fadeOut .7s both ease;
    -moz-animation: fadeOut .7s both ease;
    animation: fadeOut .7s both ease;
}
.owl-fade-in {
    -webkit-animation: fadeIn .7s both ease;
    -moz-animation: fadeIn .7s both ease;
    animation: fadeIn .7s both ease;
}
/* backSlide */
.owl-backSlide-out {
    -webkit-animation: backSlideOut 1s both ease;
    -moz-animation: backSlideOut 1s both ease;
    animation: backSlideOut 1s both ease;
}
.owl-backSlide-in {
    -webkit-animation: backSlideIn 1s both ease;
    -moz-animation: backSlideIn 1s both ease;
    animation: backSlideIn 1s both ease;
}
/* goDown */
.owl-goDown-out {
    -webkit-animation: scaleToFade .7s ease both;
    -moz-animation: scaleToFade .7s ease both;
    animation: scaleToFade .7s ease both;
}
.owl-goDown-in {
    -webkit-animation: goDown .6s ease both;
    -moz-animation: goDown .6s ease both;
    animation: goDown .6s ease both;
}
/* scaleUp */
.owl-fadeUp-in {
    -webkit-animation: scaleUpFrom .5s ease both;
    -moz-animation: scaleUpFrom .5s ease both;
    animation: scaleUpFrom .5s ease both;
}

.owl-fadeUp-out {
    -webkit-animation: scaleUpTo .5s ease both;
    -moz-animation: scaleUpTo .5s ease both;
    animation: scaleUpTo .5s ease both;
}
/* Keyframes */
/*empty*/
@-webkit-keyframes empty {
    0% {opacity: 1;filter: alpha(opacity=100);}
}
@-moz-keyframes empty {
    0% {opacity: 1;filter: alpha(opacity=100);}
}
@keyframes empty {
    0% {opacity: 1;filter: alpha(opacity=100);}
}
@-webkit-keyframes fadeIn {
    0% { opacity:0;filter: alpha(opacity=0); }
    100% { opacity:1;filter: alpha(opacity=100); }
}
@-moz-keyframes fadeIn {
    0% { opacity:0;filter: alpha(opacity=0); }
    100% { opacity:1;filter: alpha(opacity=100); }
}
@keyframes fadeIn {
    0% { opacity:0;filter: alpha(opacity=0); }
    100% { opacity:1;filter: alpha(opacity=100); }
}
@-webkit-keyframes fadeOut {
    0% { opacity:1;filter: alpha(opacity=100); }
    100% { opacity:0;filter: alpha(opacity=0); }
}
@-moz-keyframes fadeOut {
    0% { opacity:1; filter: alpha(opacity=100);}
    100% { opacity:0;filter: alpha(opacity=0); }
}
@keyframes fadeOut {
    0% { opacity:1; filter: alpha(opacity=100);}
    100% { opacity:0;filter: alpha(opacity=0); }
}
@-webkit-keyframes backSlideOut {
    25% { opacity: .5;filter: alpha(opacity=50);  -webkit-transform: translateZ(-500px); }
    75% { opacity: .5; filter: alpha(opacity=50); -webkit-transform: translateZ(-500px) translateX(-200%); }
    100% { opacity: .5;filter: alpha(opacity=50);  -webkit-transform: translateZ(-500px) translateX(-200%); }
}
@-moz-keyframes backSlideOut {
    25% { opacity: .5; filter: alpha(opacity=50); -moz-transform: translateZ(-500px); }
    75% { opacity: .5;filter: alpha(opacity=50); -moz-transform: translateZ(-500px) translateX(-200%); }
    100% { opacity: .5;filter: alpha(opacity=50); -moz-transform: translateZ(-500px) translateX(-200%); }
}
@keyframes backSlideOut {
    25% { opacity: .5;filter: alpha(opacity=50); transform: translateZ(-500px); }
    75% { opacity: .5; filter: alpha(opacity=50);transform: translateZ(-500px) translateX(-200%); }
    100% { opacity: .5; filter: alpha(opacity=50);transform: translateZ(-500px) translateX(-200%); }
}
@-webkit-keyframes backSlideIn {
    0%, 25% { opacity: .5;filter: alpha(opacity=50); -webkit-transform: translateZ(-500px) translateX(200%); }
    75% { opacity: .5;filter: alpha(opacity=50); -webkit-transform: translateZ(-500px); }
    100% { opacity: 1;filter: alpha(opacity=100); -webkit-transform: translateZ(0) translateX(0); }
}
@-moz-keyframes backSlideIn {
    0%, 25% { opacity: .5;filter: alpha(opacity=50); -moz-transform: translateZ(-500px) translateX(200%); }
    75% { opacity: .5;filter: alpha(opacity=50); -moz-transform: translateZ(-500px); }
    100% { opacity: 1;filter: alpha(opacity=100); -moz-transform: translateZ(0) translateX(0); }
}
@keyframes backSlideIn {
    0%, 25% { opacity: .5;filter: alpha(opacity=50); transform: translateZ(-500px) translateX(200%); }
    75% { opacity: .5;filter: alpha(opacity=50); transform: translateZ(-500px); }
    100% { opacity: 1;filter: alpha(opacity=100); transform: translateZ(0) translateX(0); }
}
@-webkit-keyframes scaleToFade {
    to { opacity: 0;filter: alpha(opacity=0); -webkit-transform: scale(.8); }
}
@-moz-keyframes scaleToFade {
    to { opacity: 0;filter: alpha(opacity=0); -moz-transform: scale(.8); }
}
@keyframes scaleToFade {
    to { opacity: 0; filter: alpha(opacity=0); transform: scale(.8); }
}
@-webkit-keyframes goDown {
    from { -webkit-transform: translateY(-100%); }
}
@-moz-keyframes goDown {
    from { -moz-transform: translateY(-100%); }
}
@keyframes goDown {
    from { transform: translateY(-100%); }
}

@-webkit-keyframes scaleUpFrom {
    from { opacity: 0; filter: alpha(opacity=0); -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpFrom {
    from { opacity: 0;filter: alpha(opacity=0); -moz-transform: scale(1.5); }
}
@keyframes scaleUpFrom {
    from { opacity: 0;filter: alpha(opacity=0); transform: scale(1.5); }
}

@-webkit-keyframes scaleUpTo {
    to { opacity: 0;filter: alpha(opacity=0); -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpTo {
    to { opacity: 0;filter: alpha(opacity=0); -moz-transform: scale(1.5); }
}
@keyframes scaleUpTo {
    to { opacity: 0;filter: alpha(opacity=0); transform: scale(1.5); }
}


/* =================================== */
/*	Basic Style 
/* =================================== */

body {
    font-family: 'Open Sans', sans-serif;
    color: #ccc;
    position: relative;
    overflow-x: hidden; /* This is very important for Home Slider to Fix Slider Height */
}

p{ line-height: 24px; font-size: 14px }

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure { margin: 0 }

a { color: #fff !important }

iframe { border: 0 }

a, a:focus, a:hover { text-decoration: none; outline: 0 }

a:focus, a:hover { color: #ffee5c !important}

h1, h2, h3,
h4, h5, h6 {
    font-weight: 600;
    color: #fff;
    margin-top: 0;
}
.form-control {
    background: rgba(43, 44, 48,.8);
    border-radius: 0;
    border-style: none;
    border-width: 0;
    box-shadow: none;
    margin-bottom: 10px;
    color: #fff;
}

.btn:focus,
.btn:hover ,
.btn:active { color: #ffee5c }

.form-control:focus{border-color: #ddd;box-shadow: none}

.clear:before,
.clear:after { content: " "; display: table }

.clear:after { clear: both }

.clear { *zoom: 1 }

/* Yellow Color */
.color { color: #ffee5c}

/* Dark Background */
.dark { background-color: #2B2C30 !important}

/* Light Dark Background */
.light-dark { background-color: #333439 !important }

body > section,
.footer { padding: 150px 0; }

.transition,
.service-item .service-icon:before,
.service-item .service-icon:after,
.work-filter ul li a:after,
.our-team .team-content:before,
.our-team .social li a:before,
owl-theme .owl-controls .owl-page span,
.post-slide .read-more:after{
    -webkit-transition: all .3s ease-in 0s;
    -moz-transition: all .3s ease-in 0s;
    -ms-transition: all .3s ease-in 0s;
    -o-transition: all .3s ease-in 0s;
    transition: all .3s ease-in 0s;
}

.sec-title h2 {
    font-size: 28px;
    font-weight: 800;
    text-transform: uppercase;
}

.devider { margin-top: 30px }

.devider:before,
.devider:after {
    content: "______________";
    color: #ccc;
    position: relative;
    bottom: 6px;
}

.devider:before { right: 10px }

.devider:after { left: 10px }

.mb50 { margin-bottom: 50px }

.scale0 ,
.work-filter ul li a:after
{
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

.work-filter ul li a:hover:after,
.work-filter ul li a.active:after,
.our-team:hover .social,
.work-item:hover .overlay
{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.shadow { 
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    -moz-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    -o-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/*=========================================
        Preloader
==========================================*/

#preloader {
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 99999;
    top: 0;
    bottom: 0;
}

.loader{
    width: 128px;
    height: 128px;
    top: 40%;
    line-height: 128px;
    border-radius: 50%;
    border-top: 5px solid #ffee5c;
    color: #fff;
    text-align: center;
    position: relative;
    margin: 0 auto;
    -webkit-animation: 2s loading1 ease-in-out infinite;
    animation: 2s loading1 ease-in-out infinite;
}
.loader:before,
.loader:after{
    content: "";
    display: block;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    border-top: 5px solid #ffee5c;
    position: absolute;
    top: -5px;
    left: 0;
}
.loader:before{
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg)
}
.loader:after{
    -webkit-transform: rotate(240deg);
    transform: rotate(240deg)
}
.loader .loader-inner{
    display: block;
    width: 128px;
    height: 128px;
    position: absolute;
    top: -5px;
    left: 0;
    -webkit-animation: 2s loading2 linear infinite;
    animation: 2s loading2 linear infinite;
}
@-webkit-keyframes loading1{
    50% {
        -webkit-transform: rotate(180deg)
    }
    100% {
        -webkit-transform: rotate(360deg)
    }
}
@keyframes loading1{
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
@-webkit-keyframes loading2{
    50% {
        -webkit-transform: rotate(-180deg)
    }
    100% {
        -webkit-transform: rotate(-360deg)
    }
}
@keyframes loading2{
    50% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg)
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg)
    }
}

/*=========================================
        Header Navigation
==========================================*/

#navigation {
    background-color: rgba(43, 44, 48, .4);;
    border: 0 none;
    margin: 0;

    -webkit-transition: background-color 800ms linear;
    -moz-transition: background-color 800ms linear;
    -ms-transition: background-color 800ms linear;
    -o-transition: background-color 800ms linear;
    transition: background-color 800ms linear;
    box-shadow: 0px 0px 4px #222;
}

.navbar-brand { padding: 0 }

.navbar-nav li a { border-top: 1px solid transparent; font-size: 13px }

.navbar-nav li a.current,
.navbar-nav li a:focus,
.navbar-nav li a:hover {
    background-color: transparent;
    border-top: 1px solid #ffee5c;
    color: #fff;
}


/*=========================================
        Home Slider
==========================================*/

#slider {
    padding: 0;
    height: 390px!important;
    margin-bottom: 40px;
}

#slider .carousel-inner .item {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center center;
}

.carousel-caption { top: 50% }

.carousel-caption h2 { font-size: 62px; font-weight: 300 }

.carousel-caption h2 span { font-weight: 800 }

.carousel-caption h3 {
    font-size: 48px;
    font-weight: 300;
    margin: 6px 0 20px;
}

.carousel-caption p {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
}

.carousel-caption p:before,
.carousel-caption p:after {
    color: #ffee5c;
    content: "___";
    position: relative;
    top: -8px;
}

.carousel-caption p:before { right: 20px }

.carousel-caption p:after { left: 20px }

.social-links { margin-top: 5% }

.social-links li { display: inline-block }

.social-links li a { display: block; margin: 0 6px }
.carousel-indicators {
    bottom: 10px;
    left: inherit;
    margin: 0;
    right: 30px;
    top: 49%;
    width: 0;
}

.carousel-indicators li {
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 8px;
    width: 8px;
}
.carousel-indicators .active { 
    background-color: #ffee5c;
    height: 8px;
    width: 8px
}


/*=========================================
        About Section
==========================================*/

/* Flex Slider */
.flex-control-paging li a.flex-active { background-color: #ffee5c }

.flex-caption,
.flexslider.flexslider .slides img { float: left }

.flex-caption {
    width: calc(100% - 528px);
    padding: 40px;
    left: 0;
    bottom: 0;
    font-size: 14px;
    line-height: 18px;
}

.flexslider.flexslider-banner .slides img { display: block; width: 100% }

.flexslider {
    border: none;
    border-radius: 0;
    margin: 0 auto;	
    width: 100%;
}

.flexslider.flexslider-about img { max-width: 528px}

.slider-title { margin-bottom: 20px; text-transform: uppercase }

.slider-social { text-align: right; }

.flex-control-nav { position: relative; bottom: -3px}

@media screen and (max-width: 1199px) {

    .flex-caption {	padding: 25px; max-width: 500px }

    .flexslider.flexslider-about .slides img { max-width: 450px }

    .slider-title { margin-bottom: 15px }

    .flexslider.flexslider-about .slides img { width: 450px }

}

/*=========================================
        Services Section
==========================================*/
.service-item{ position: relative; padding: 35px 20px 35px 90px }

.service-item .effect{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale3d(1.08, 1.08, 1.08);
    -moz-transform: scale3d(1.08, 1.08, 1.08);
    -o-transform: scale3d(1.08, 1.08, 1.08);
    transform: scale3d(1.08, 1.08, 1.08);
}
.service-item:hover .effect{
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.service-icon {
    width: 50px;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    text-align: center;
    border: 2px solid #ffee5c;
    position: absolute;
    top: 55px;
    left: 20px;
}
.service-item:hover .service-icon{ transform: translateY(20px); }
.service-item .service-icon:before,
.service-item .service-icon:after{
    content: "";
    height: 2px;
    background-color: #ffee5c;
    position: absolute;
    top: -20px;
    left: 10px;
    right: 10px;
}
.service-item .service-icon:after{
    top: auto;
    bottom: -20px;
    left: 10px;
    right: 10px;
}
.service-item:hover .service-icon:before{ top: -25px; transform: rotate(90deg) }

.service-item:hover .service-icon:after{ transform: rotate(-90deg); bottom: -25px }

.service-desc { position: relative }

/*=========================================
     Works Section
==========================================*/

.work-filter { margin-bottom: 35px }

.work-filter ul li { display: inline-block }

.work-filter ul li a {
    color: #ccc;
    display: block;
    font-size: 14px;
    font-weight: 700;
    padding: 5px 17px;
    text-transform: capitalize;
    position: relative;
    padding: 15px 16px;

}
.work-filter ul li a:after{
    content: "";
    width: 80%;
    height: 5px;
    background: radial-gradient(ellipse closest-side at 50% 50% , #ffee5c, rgba(255, 255, 255, 0) 75%);
    position: absolute;
    bottom: 8px;
    left: 10%;
    z-index: 1;
}

.mix { display: none }

.work-item {
    float: left;
    width: 25%;
    position: relative;
}

.work-item > img {
    display: block;
    height: auto;
    max-width: 100%;
}

.overlay {
    background-color: rgba(43, 44, 48, 0.8);
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform:  scale(0.5,0.5);
    -moz-transform:  scale(0.5,0.5);
    -ms-transform:  scale(0.5,0.5);
    -o-transform:  scale(0.5,0.5);
    transform:  scale(0.5,0.5);
}

.work-item:hover .overlay { opacity: 1; filter: alpha(opacity=100) }

.work-item .overlay a {
    border: 2px solid #fff;
    border-radius: 50%;
    display: inline-block;
    margin-top: 20%;
    padding: 7px 10px;
}
.work-item .overlay h4 { line-height: 24px; margin: 25px 0 8px }

/*=========================================
         Team Section
==========================================*/
.our-team { position: relative }

.our-team .team-content{
    padding: 20px 0;
    color: #fff;
    position: relative;
}
.our-team .team-content:before{
    content: "+";
    width: 20px;
    height: 20px;
    font-size: 17px;
    color: #fff;
    background-color: #2B2C30;
    position: absolute;
    top: -20px;
    right: 0;
}
.our-team:hover .team-content:before{
    width: 100%;
    background: #2B2C30;
    color: #2B2C30;
}
.our-team .social{
    padding: 0;
    list-style: none;
    position: absolute;
    top: -37px;
    left: 0;
    right: 0;
    margin: auto;
}

.our-team .social li{ display: inline-block }

.our-team .social li a{
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    margin-right: 10px;
    position: relative;
    z-index: 1;
}

.our-team .social li a:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2B2C30;
    transform: rotate(45deg);
    z-index: -1;
}
.our-team .social li:hover a:before{ background-color: #2B2C30; transform: rotate(-45deg) }

.team-content h4 { line-height: 24px; margin: 15px 0 8px }

.our-team:hover .team-content h4 { color: #ffee5c }


/*=========================================
        Why Us/Features Section
==========================================*/

.tab-content { }

.features-content h4 { margin-bottom: 20px }

.nav.nav-pills > li > a {
    position: relative;
    display: block;
    padding: 25px;
    border-bottom: 3px solid #cccccc;
    text-transform: uppercase;
    margin-bottom: 5px;
    width: 94%;
}

.nav.nav-pills > li > a small { text-transform: lowercase; font-style: italic }

.nav.nav-pills > li > a:hover,
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: #ffee5c;
    padding: 25px;
    background: transparent
}

.nav-pills > li > a { border-radius: 4px }

ul.features li span.fa {
    font-size: 35px;
    vertical-align: middle;
    margin-right: 20px;
    float: left;
    clear: both;
    margin-top: 5px;
}

/*=========================================
     Facts Section
==========================================*/

#facts {
    background-image: url("http://via.placeholder.com/940x355");
    background-color: rgba(51, 52, 57,.9);
    background-attachment: fixed !important;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0;
}

.parallax-overlay {
    background-color: rgba(51, 52, 57,.8);
    padding: 70px 0;
}

.counters-item {
    color: #fff;
    padding: 0px 0px 20px;
    border: 2px solid #ccc;
    border-radius: 50px 0 50px 0;
}

.counters-item i {
    border-radius: 50%;
    display: inline-block;
    margin: 0 0 35px;
    padding: 40px 0 0;
    width: 120px;
    position: relative;
}


.counters-item strong {
    display: block;
    font-size: 60px;
    font-weight: 600;
    line-height: 60px;
}

.counters-item p {
    font-size: 18px;
    margin-top: 15px;
    text-transform: uppercase;
}

/*=========================================
        Testimonial Section
==========================================*/

.testimonial{
    padding: 35px 50px;
    margin: 0 20px 30px;
    border-left: none;
    border-right: none;
    text-align: center;
}
.testimonial .pic{
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
    overflow: hidden;
}
.testimonial .pic img{ width: 100%; height: auto }

.testimonial .title{
    display: block;
    margin: 0 0 7px 0;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.testimonial .post{ display: block; margin-bottom: 20px }

.owl-theme .owl-controls{ margin-top: 0; }
.owl-theme .owl-controls .owl-page span{
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.owl-theme .owl-controls .owl-page.active span{ background-color: #ffee5c }

/*=========================================
        Pricing Section 
==========================================*/
.pricingTable{
    margin-top: 90px;
    text-align: center;
    border-bottom: 30px solid #2b2c30;
    z-index: 1;
    position: relative;
}
.pricingTable:before{
    content: "";
    height: 50%;
    border: 20px solid #2b2c30;
    border-radius: 50%;
    position: absolute;
    top: -18%;
    left: 30px;
    right: 30px;
    z-index: -1;
}
.pricingTable .title{
    padding: 20px 0;
    margin: 0;
    letter-spacing: 1px;
}
.pricingTable .pricing-content{ padding-bottom: 20px; background: #333439 }

.pricingTable .price-value{
    padding-top: 20px;
    margin-bottom: 10px;
    font-size: 50px;
}
.pricingTable .month{ display: inline-block; font-size: 17px }
.pricingTable .pricing-content ul{
    padding: 0 30px;
    margin-bottom: 20px;
    list-style: none;
}
.pricingTable .pricing-content ul li{
    line-height: 50px;
    letter-spacing: 1px;
    border-bottom: 1px solid #ccc;
}
.pricingTable .pricing-content ul li:last-child{ border-bottom: none }

.pricingTable .pricingTable-signup,.custom-btn{
    display: inline-block;
    padding: 10px 25px;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 1px;
    border: 1px solid #2b2c30;
}

@media (min-width: 992px) and (max-width: 1199px){ .pricingTable:before { top: -13%; } } 

/*=========================================
        Blog Section 
==========================================*/
.post-slide{ margin: 0 15px; position:relative }

.post-slide .post-img{
    position: relative;
    height: 262px;
    overflow: hidden;
}

.post-slide .post-img img{ width: 100%}

.post-slide .post-link{
    margin:0;
    padding:0;
    position: relative;
    top:45%;
    text-align:center;
}
.post-slide .post-link li{
    display: inline-block;
    list-style: none;
    margin-right:20px;
}
.post-slide .post-link li a{ color:#fff; font-size:20px }

.post-slide .post-date{
    position:absolute;
    top:10%;
    left:4%;
}
.post-slide .date{
    display: inline-block;
    border-radius: 3px 0 0 3px;
    padding: 5px 10px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    float: left;
}
.post-slide .month{
    display: inline-block;
    border-radius: 0 3px 3px 0;
    padding: 5px 13px;
    font-size: 20px;
    font-weight: bold;
}
.post-slide .post-content{ padding:20px 30px 30px }

.post-slide .post-title{ margin:0 0 15px 0 }

.post-slide .read-more{
    font-weight:bold;
    text-transform:uppercase;
    position: relative;
}

.post-slide .read-more:after{
    content:"";
    position: absolute;
    width:30%;
    display: block;
    border:1px solid #ffee5c;
}
.post-slide .read-more:hover:after{ width:100% }

/*=========================================
        Contact Section
==========================================*/

.contact { padding-bottom: 0 }

.contact-address h3 { font-size: 22px }

.contact-form h3 { font-size: 24px }

.contact-address h3 ,
.contact-form h3 { line-height: 32px; margin-bottom: 25px }

.contact-form .input-group { width: 100% }

.contact-form .form-control {
    border-color: -moz-use-text-color -moz-use-text-color #cccccc;
    border-style: none none solid;
    border-width: 0 0 1px;
    margin-bottom: 10px;
}

.contact-form .input-field {
    width: 48%;
    float: left;
    margin-right: 4%;
}

.contact-form .input-field:last-child {margin-right: 0 }

.contact-form .form-control.error { border-bottom-color: #ffee5c }

label.error {
    color: #ffee5c;
    font-weight: normal;
    text-transform: capitalize;
}

.contact-form #form-submit {
    background: url("../img/envelop.png") no-repeat scroll 0 15px transparent;
    border: 0 none;
    color: #ccc;
    font-size: 16px;
    line-height: 24px;
    padding: 10px;
    text-align: right;
    width: 150px;
}

.footer-social { margin-top: 17px }

.footer-social li a { display: block; margin-bottom: 10px }

#map_canvas {height: 215px;  width: 100% }

/*=========================================
        Footer 
==========================================*/

.footer h6 {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 30px;
}

.about-us p { line-height: 24px }

.footer-single .subscribe { margin-bottom: 15px; position: relative }

.subscribe #subscribe {
    background-color: transparent;
    border: 2px solid #ccc;
    border-radius: 2px;
    height: 40px;
    text-indent: 10px;
    width: 100%;
}

.subscribe #subs {
    background-color: transparent;
    border: 0 none;
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 6px;
}

.footer-single { line-height: 24px }

.footer-single li { line-height: 32px }

.footer-single p i { margin: 0 10px }

.copyright { color: #fff;  margin-top: 100px }

/*
 Back To Top
 ==================================== */
#back-top {
    bottom: 20px;
    position: fixed;
    right: 25px;
    z-index: 9;
}

/*=========================================
    Blog Page  
==========================================*/

#tf-blog,
#blog-post { padding: 60px 0 }
#blog-post a.btn { margin: auto 0 }
.post-wrap { position: relative }
.media.post { padding: 10px }
.post-wrap { position: relative; margin-bottom: 30px }
.post-meta {
    border-top: 1px solid #ebebeb;
    padding: 5px 10px;
    position: relative;
    min-height: 35px;
}
ul.metas li:after {
    content: ' / ';
    margin-right: 3px;
    margin-left: 3px;
}
ul.metas li:last-child:after { content: ' ' }
.meta-detail {padding: 2px }
/* Header Page */
#tf-header { padding: 20px 0 ; margin-top: 51px}

#tf-header .breadcrumb {
    display: inline-block;
    padding: 0;
    margin: 0;
    border-radius: 5px 25px 25px 5px;
}

#tf-header .breadcrumb li{
    float: left;
    margin-right: 3px;
    position: relative;
    z-index: 1;
}
#tf-header .breadcrumb li:before{ display: none; }
.breadcrumb li:after{
    content: "";
    width: 40px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -20px;
    z-index: -1;
}
.breadcrumb li:nth-last-child(2):after,
.breadcrumb li:last-child:after{ display: none; }
.breadcrumb li a,
.breadcrumb li:last-child{
    display: block;
    padding: 8px 15px;
    font-weight: bold;
    border-radius: 0 25px 25px 0;
    box-shadow: 5px 0 5px -5px #ffee5c;
    color: #ffee5c
}

.blog .media.post { padding: 10px }

.blog .post-meta {
    padding: 5px 10px;
    position: relative;
    min-height: 35px;
}
.pagination{ display: inline-flex; position: relative }
.pagination:before{
    content: "";
    width: 100%;
    height: 2px;
    background: #ddd;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.pagination li a.page-link{
    padding: 5px 15px;
    margin-right: 15px;
    font-size: 17px;
    border: 1px solid #2b2c30;
}
.pagination li:first-child a.page-link{ margin-right: 30px; }
.pagination li:last-child a.page-link{ margin: 0 0 0 15px; }
.pagination li.active a.page-link,
.pagination li a.page-link:hover{ color: #ffee5c !important }

/* Sidebar */
.widget { margin-bottom: 40px; padding: 0 20px }
/* Search */
.search-area {height: 44px}
button.btn.btn-default {
    padding: 11px 15px;
    background-color: transparent;
    border: none;
    color: #ddd;
}
/* Categories and Archive Widget */
ul.bullet-lists { margin-top: 20px }
ul.list-unstyled.bullet-lists li span.fa.fa-circle-thin {
    font-size: 8px;
    vertical-align: middle;
    margin-right: 10px;
}
ul.list-unstyled.bullet-lists li { padding: 5px 0 }
ul.list-unstyled.bullet-lists li:hover { color: #FFCC33 }
/* Post Tab */
.nav-tabs {border-bottom: 0}

a.list-group-item:hover, a.list-group-item:focus {background: none}
.post-tab .list-group-item {background-color: transparent;border: none}
.post-tab .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: -1px;
}
.post-tab .nav-tabs > li > a { border: none }

.post-tab .nav-tabs > li > a:hover,
.post-tab .nav-tabs > li > a:focus ,
.post-tab .nav-tabs > li.active > a,
.post-tab .nav-tabs > li.active 
{
    box-shadow: none;
    border: 0;
    background-color: #2b2c30;
    color: #ffee5c !important
}
/* Tags */
ul.list-inline.bullet-lists li {
    padding: 5px 10px;
    margin-bottom: 5px;
    margin-right: 2px;
}
/* Single Blog Post */
.blog-post .post-wrap img,
.work-detail img.featured { margin: 20px 0 }
ul.meta-tags li:after { content: ',' }
ul.meta-tags li:last-child:after { content: ' ' }
/* Author Box */
.media.post-author , .media.comment-block  { padding: 20px }
.blog-post .post-wrap { padding: 20px; margin-bottom: 0 }
/* Comment */
.comment { margin-top: 40px }
#contact-form{ padding: 20px 0}
.comment input,
.comment textarea { margin-bottom: 15px; background: rgba(51,52,57,.8) }
ul.features.meet-bucks li span.fa{
    margin-top: 0px;
    width: 50px;
}
.meet-bucks li>a{
    font-size: 19px;
}
.text-center{
    text-align: center;
}
.path-slider-parent .start-stop .img g {
    fill: transparent;
    stroke: #9abef7;
    stroke-width: 2px;
    opacity: .7;
    transition: opacity 200ms linear;
}
.path-slider-parent .start-stop .img g {
    fill: transparent;
    stroke: #9abef7;
    stroke-width: 2px;
    opacity: .7;
    transition: opacity 200ms linear;
}
svg:not(:root) {
    overflow: hidden;
}
.path-slider-parent .start-stop .img {
    width: 50px;
    height: 50px;
    display: inline-block;
}
#feature ul.slides li{
    min-height:405px;
}
#feature ul.slides li .meet-bucks-inner-box{
    padding: 20px;
}
#feature ul.slides li .meet-bucks-inner-image img{
    max-width: none;
}
.img-box-left{
    padding: 30px 0 0 30px;
    max-width: 528px;
    float: left;
}
.img-box-right{
    padding: 40px 40px 0 0;
    max-width: 528px;
    float: left;
}
.fa.trading:before{
    content: '';
    padding: 20px 25px;
    background-image: url(../img/icons/trading-white.png);
    background-repeat: no-repeat;
    top: 19px;
    position: relative;
    background-size: 73%;
}
.fa.simulator:before{
    content: '';
    padding: 20px 25px;
    background-image: url(../img/icons/simulator.png);
    background-repeat: no-repeat;
    top: 19px;
    position: relative;
    background-size: 73%;
}
.fa.alerts:before{
    content: '';
    padding: 20px 25px;
    background-image: url(../img/icons/alerts.png);
    background-repeat: no-repeat;
    top: 12px;
    position: relative;
    background-size: 73%;
}
.fa.reports:before{
    content: '';
    padding: 20px 25px;
    background-image: url(../img/icons/reports.png);
    background-repeat: no-repeat;
    top: 12px;
    position: relative;
    background-size: 73%;
}
.fa.sign-up:before{
    content: '';
    padding: 20px 25px;
    background-image: url(../img/icons/sign_up.png);
    background-repeat: no-repeat;
    top: 12px;
    position: relative;
    background-size: 73%;
}
.litera-circule{
    display: inline-block;
    line-height: 1;
    width: 40px;
    height: 40px;
    background-color: #cccccc;
    border-radius: 0px 40px 40px;
}
.litera-circule span{
    color: #000;
    font-size: 28px;
    font-weight: 800;
    position: relative;
    top: 4px;
}
.path-slider .slick-prev, .path-slider .slick-next{
    display: none!important;
}
@media (max-width: 991px) {
    .img-box-left,.img-box-right{
        padding: 5px 30px 25px 30px!important
    }
}
@media (max-width: 767px) {
    .path-slider .slick-prev {
        left: -15px;
        z-index: 2;
    }
    .path-slider .slick-next {
        right: -15px;
        z-index: 2;
    }
    .text-blocks .m-col {
        width: 100%;

    }

    .text-blocks .m-col .itm .title {
        width: 100%!important;
    }

    .text-blocks .m-col.col2 .itm {
        text-align: left;
    }

    .text-blocks .m-col.col2 .itm .title {
        background-position: left 3px top 5px;
        padding-left: 35px;
        padding-right: inherit;
    }

    .text-blocks .m-col.col2 .itm .triangle {
        right: 0;
        left: initial;
        -moz-transform: none;
        -webkit-transform: none;
        -o-transform: none;
        transform: none;
    }

    .text-blocks .m-col .itm .txt>div {
        width: 100%;
    }
}
.text-blocks {
    padding: 0 15px;
}
.text-blocks .m-col {
    float: left;
    width: 50%;
}

.text-blocks .m-col .itm {
    margin-bottom: 10px;
    color: white;
    /*font-family: Arial;*/
}

.text-blocks .m-col .itm .title {
    display: inline-block;
    border: 1px solid #9ABEF7;
    background: rgba(45, 42, 42, 0.8);
    font-size: 20px;
    font-weight: 900;
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-image: url("/img/text_plus.svg");
    background-repeat: no-repeat;
}
.text-blocks .m-col.col1 .itm .title {
    background-position: left 3px top 5px;
    padding-left: 35px;
}
.text-blocks .m-col.col2 .itm .title {
    background-position: right 3px top 5px;
    padding-right: 35px;
}

.text-blocks .m-col .itm .title:hover,
.text-blocks .m-col .itm.active .title {
    opacity: 0.8;
}

.text-blocks .m-col .itm .triangle {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
}
.text-blocks .m-col.col2 .itm .triangle {
    right: initial;
    left: 0;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
.text-blocks .m-col .itm .triangle path {
    fill: rgba(0, 0, 0, 0.25);
}

.text-blocks .m-col.col2 .itm {
    text-align: right;
}

.text-blocks .m-col .itm .txt {
    overflow-y: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 500ms ease,
    opacity 500ms ease;
    font-family: 'Arial', sans-serif;
}

.text-blocks .m-col .itm.active .txt {
    max-height: 400px;
    opacity: 1;
}

.text-blocks .m-col .itm .txt>div {
    text-align: left;
    display: inline-block;
    padding: 5px 10px;
    margin-top: 5px;
    width: 95%;
    border: 1px solid #9ABEF7;
    background: rgba(45, 42, 42, 0.9);
    font-size: 13px;
    overflow-y: auto;
    height: 100%;
    max-height: 394px;
}


.text-blocks .m-col .itm .txt ul{
    padding-left: 5px;
}

.text-blocks .m-col .itm .txt ul li {
    list-style-type: none;
}
.text-blocks .m-col .itm .txt ul li:before {
    content: '*';
    margin-right: 10px;
}

@media (max-width: 767px) {
    #navigation {
        opacity: 1 !important;
    }
    #logo {
        margin-top: 18px;
        margin-left: 23px;
        font-size: 25px;
    }
    .path-slider .slick-prev {
        left    : -15px;
        z-index : 2;
    }

    .path-slider .slick-next {
        right   : -15px;
        z-index : 2;
    }

    .text-blocks .m-col {
        width : 100%;
    }

    .text-blocks .m-col .itm .title {
        width : 100% !important;
    }

    .text-blocks .m-col.col2 .itm {
        text-align : left;
    }

    .text-blocks .m-col.col2 .itm .title {
        background-position : left 3px top 5px;
        padding-left        : 35px;
        padding-right       : inherit;
    }

    .text-blocks .m-col.col2 .itm .triangle {
        right             : 0;
        left              : initial;
        -moz-transform    : none;
        -webkit-transform : none;
        -o-transform      : none;
        transform         : none;
    }

    .text-blocks .m-col .itm .txt > div {
        width : 100%;
    }

    #main-slider{
        padding-bottom: 76px;
    }
    .wrapper_first_block.text-boxes{
        margin-bottom: 0;
    }
}

.parent_menu .divider {
    width: 1px;
    height: 15px;
    background: #fff;
    display: block;
    position: absolute;
    top: 19px;
    opacity: 0.2;
}

.first-box {
    text-align: center;
    margin-bottom: 45px;
    padding-top: 20px;
}
.wrapper_first_block {
    margin-bottom: 80px;
    padding : 0 20px;
}
.meet_bucks {
    padding: 40px 0;
}