/*============================================================
        For Small Desktop
==============================================================*/

@media (min-width: 980px) and (max-width: 1150px) {

    /* slider */
    .carousel-caption h3 {
        font-size: 45px;
    }

    /* works */


    /* team */

}
/****************************/
@media screen and (max-width: 991px) { 

    /* flex slider */
    .flexslider.flexslider-about,
    .flexslider.flexslider-about .slides img, 
    .flex-caption { max-width: 528px; width: 100% }

    .flexslider .slides img, 
    .flex-caption { width: 100% }

    /* team  & Counter Item*/

    .our-team, .counters-item { margin: 0 auto 30px; width: 270px }

    .service-item { margin: 0 auto 30px ; text-align: center}

    /* Features */

    .tab-content ,
    .nav.nav-pills > li > a { width: auto}

    .features-content h4 { margin-top: 15px }

    /* Pricing */
    .pricingTable{ margin: 120px auto 0; width: 270px }

    /* Blog */
    .widget { padding: 0}


}

/*============================================================
        Tablet (Portrait) Design for a width of 768px
==============================================================*/

@media (min-width: 768px) and (max-width: 991px) {

    .mb0 {margin-bottom: 0 !important}


    /* slider */

    .carousel-caption h2 { font-size: 55px }

    .carousel-caption h3 { font-size: 36px }

    /* services */

    .service-item { width: 325px }

    .service-icon {
        float: none;
        margin: 0 auto 15px;
        text-align: center;
        width: 50px;
    }

    .service-desc {
        margin-left: 0;
        position: relative;
        top: 0;
    }

    /* works */

    .work-item { width: 33.33333333% }

    /* team  */




    /* fatcs */

    #facts {
        background-position: center top !important;
    }

    .counters-item i {
        margin: 0 0 15px;
    }

    .counters-item strong {
        font-size: 45px;
    }


    /* contact */

    .contact-form .name-email input {
        margin-right: 0;
        width: 100%;
    }

    .footer-social {
        margin-top: 45px;
    }

    /* footer */

    .footer-single {
        margin-bottom: 30px;
    }

}


/*============================================================
        Mobile (Portrait) Design for a width of 320px
==============================================================*/

@media only screen and (max-width: 767px) {

    .sec-sub-title p {
        font-size: 14px;
    }

    /* slider */
    .carousel-caption h2 {
        font-size: 35px;
    }

    .carousel-caption h3 {
        font-size: 22px;
    }

    .carousel-caption p {
        font-size: 14px;
    }

    .social-links {
        margin-top: 20%;
    }

    /* services */

    .service-item { width: 280px }

    .service-icon {
        float: none;
        margin: 0 auto 15px;
        text-align: center;
        width: 50px;
    }

    .service-desc {
        margin-left: 0;
        position: relative;
        top: 0;
    }

    /* works */

    .work-item {
        left: 5% !important;
        width: 90%;
    }

    /* team */

    /* facts */

    #facts {
        background-position: center top !important;
    }


    /* contact */
    .contact-address {
        margin-bottom: 30px;
    }

    .footer-social {
        margin-top: 20px;
        text-align: center;
    }

    .footer-social li {
        display: inline-block;
    }

    .footer-social li a {
        margin: 0 10px;
    }

    /* footer */

    .footer-single {
        margin-bottom: 30px;
    }

    /***** Delete last margin ****/
    .service-box:last-child  .service-item,
    .team-member:last-child .our-team,
    .counter-box:last-child .counters-item
    {margin-bottom: 0}


}


/*============================================================
        Mobile (Landscape) Design for a width of 480px
==============================================================*/

@media only screen and (min-width: 480px) and (max-width: 767px) {


    /* services */

    .service-item { width: 325px }

    .service-icon {
        float: none;
        margin: 0 auto 15px;
        text-align: center;
        width: 50px;
    }

    .service-desc {
        margin-left: 0;
        position: relative;
        top: 0;
    }

    /* works */

    .work-item { left: inherit !important; width: 50% }

}

@media only screen and (max-width: 325px) {
    .our-team,
    .counters-item ,
    .pricingTable,
    .service-item{ width: auto }

}

@media only screen and (max-width: 479px) {

    /* Blog Section */
    .post-slide .month{
        font-size:14px;
    }
    .post-slide .date{
        font-size:14px;
    }

    /* Blog & Blog Post */
    .pagination{
        display: block;
        overflow: auto;
    }
    .pagination:before{ display: none; }
    .pagination li{ display: inline-block; }
}

@media only screen and (max-width: 500px) {.meta-detail { display: none} }

